@import url('https://fonts.googleapis.com/css2?family=Nixie+One&family=Playfair+Display&family=Roboto+Condensed&display=swap');

/* GLOBAL STYLES */
:root {
    --blue-color:rgb(172, 220, 234);
    --dark-background: rgb(42, 41, 41);
}
 
html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: white;
    background-color:var(--dark-background);
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    padding-top: 15px;
}

/* img {
    transition: transform 3s; 
    overflow: hidden;
}

img:hover {
    transform: scale(1.1);
} */

a{
    text-decoration: none;
    color: inherit;  
}

a:hover {
    color: var(--blue-color);
}

ul{
    list-style: none;
}

li {
    padding: 10px;
}

q {
    font-style: italic;
    font-size: large;
}

.heading {
    margin: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    color: var(--blue-color); 
}

.subheading {
    display: block;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    color: white; 
}

/* NAVIGATION BAR */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 10px;
    width: 100px;
}

.icon {
    display: none;
}

.nav-list {
    position: fixed;
    margin: 0;
    transform: scale(1);
    top: 60px;
    right: 20px;
}

.nav-list a {
    float: none;
    text-align: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    transition: color .5s;
}

.nav-list a:hover {
    color: var(--blue-color);
    transition: transform 1s ease-in-out;
    transform: translateX(-10px);
}

/* HOME PAGE */
/* .home-section {
    
} */

.home-page {
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.profile-pic {
    width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: 0 0;
    outline: 2px dotted var(--blue-color);
    outline-offset: 5px;
}

/* PROJECTS */
.project-section {
    width: 100vw;
}

.project-container {
    width: 1000px;
    margin: 20px auto;
    animation: fadeIn 1s; 
}

.projects-grid {
    display: grid;
    grid-template-columns: 480px 480px;
    column-gap: 40px;
}

.project {
    cursor: pointer;
    margin-bottom: 50px;
}

.project:hover .subheading{
    color: var(--blue-color);
}

.project:hover {
    transition: transform .5s ease-in-out;
    transform: translateY(-5px);
}

.project img {
    
    width: 100%;
    outline: 2px dotted var(--blue-color);
    outline-offset: 5px;
}

/* RESUME */
.resume-section {
    margin-bottom: 10em;
}

.resume {
    width: 45em;
    height: 60em;
    display: block;
    margin: 0 auto;
}

.resume-link {
    display: none;
}

/* ECOMMERCE */
.ecommerce-info {
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 500px 500px;
    column-gap: 40px;
    animation: fadeIn 1s;
}

.visit-site {
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.store-photos img {
    width: 100%;
    padding: 15px 0px;
}

/* RESPONSIVENESS */
@media screen and (max-width: 1200px) {
    body {
        font-size: 22px;
    }

    .nav-list a {
        display: none;
    }

    .icon {
        float: right;
        display: block;
        font-size: 40px;
        cursor: pointer;
        position: fixed;
        right: 20px;
        top: 60px;
    }

    .icon.open .fa-bars {
        display: none;
    }

    .icon.open .fa-times {
        display: block;
    }

    .icon .fa-times {
        display: none;
    }

    .nav-list.open {
        background-color: rgb(42, 41, 41);
        position: fixed;
        top: 100px;
        right: 20px;
    }

    .nav-list.open a {
        float: none;
        display: block;
        text-align: left;
        font-size: 28px;
    }

    .page-title {
        font-size: 30px;
    }

    .home-page {
        width: 80%;
        margin: 20px auto;
        padding: 20px;
        display: block;
    }

    .project-container {
        width: 80%;
    }

    .projects-grid {
        display: block;
        margin: 20px auto;
    }

    .resume {
        width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .ecommerce-info {
        width: 80%;
        display: block;
    }
}


@media screen and (max-width: 640px) {
    .resume {
        display: none;
    }

    .resume-link {
        display: block;
        text-align: center;
        margin: 20px auto;
    }

    .resume-section {
        margin-bottom: 0;
    }
}